/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/** !! COLOR SCHEME: #FFFFFF, #11122, #6c8dc6**/

.home-logo {
  margin-left: -15%;
}

.home-logo-text {
  margin-left: -40%;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section-a {
  padding-top: 8vh;
  width: 50vw;
  height: 75vh;
}

.parallax-container .section-b {
  padding-top: 18vh;
  width: 80vw;
  height: 60vh;
}

@media only screen and (max-width : 992px) {

  #index-banner .section {
    top: 10%;
  }

  .home-logo {
    margin-left: 10%;
  }

  .home-logo-text {
    margin-left: 10%;
    width: 100%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .home-logo {
    margin-left: 1%;
  }

  .home-logo-text {
    margin-left: 10%;
    width: 100%;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.productContainer {
  margin: 50px auto;
}

.card {
  min-height: 342px;
}

.parallax {
  height: 75vh;
}

.blog-section img {
  width: 25vw;
  float: left;
  height: 15vh;
}

.blog-one .content-preview {
  height: 25vh;
  width: 70vw;
  padding-left: 30vw;
}

.two-blogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "blog-two blog-three";
  grid-column-gap: 5vw;
}

.blog-two {
  grid-area: blog-two;
  padding: 2vh 3vw;
}

.blog-three {
  grid-area: blog-three;
  padding: 2vh 3vw;
}

.blog-section {
  width: 85vw;
  margin-left: 7.5vw;
}

.kaiapuni-blue {
  color: #6c8dc6;
}

.kaiapuni-dark-blue {
  color: #7B98CC;
}

.kaiapuni-blue-btn {
  background-color: #6c8dc6;
}

.kaiapuni-green {
  color: #b7e773;
}